ADMINS=<discord_user_ids>
APP_URL=http://example.com
DISCORD_TOKEN=something_something
HTTPS_ENABLED=True
MYSQL_HOSTNAME=something_something
MYSQL_PORT=<123456>
MYSQL_DATABASE=ionic
MYSQL_ROOT_PASSWORD=something_something
MYSQL_URL=mysql://root:${MYSQL_ROOT_PASSWORD}@${MYSQL_HOSTNAME}:${MYSQL_PORT}/${MYSQL_DATABASE}
MYSQL_SSL=false
PIZZA_SERVER_LIST=<list_of_servers_where_joke_features_are_enabled>
PORT=7777
PYTHONUNBUFFERED=1 # Run for local testing to make logging more timely, but not production