[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {editable = true, ref = "master", git = "https://github.com/Rapptz/discord.py.git"}
arrow = "*"
asyncpg = "*"
dmux = {git = "ssh://git@github.com/gs729/dmux.git"}
hypercorn = "*"
jinja2 = "*"
postgres = "*"
psycopg2-binary = "*"
psycopg2-pool = "*"
python-dotenv = "*"
pytz = "*"
quart = "*"
regex = "*"
SQLAlchemy = "*"
uvloop = "*"
dateparser = "*"

[dev-packages]
"discord.py-stubs" = "*"
bandit = "*"
black = "21.12b0"
pyflakes = "*"
rope = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
