[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.7.4.post0"
appdirs = "==1.4.4"
APScheduler = "==3.7.0"
async-timeout = "==3.0.1"
attrs = "==21.2.0"
cachetools = "==4.2.2"
certifi = "==2021.5.30"
chardet = "==4.0.0"
charset-normalizer = "==2.0.3"
click = "==8.0.1"
"discord.py" = "==1.7.3"
google-auth = "==1.33.1"
google-auth-oauthlib = "==0.4.4"
greenlet = "==1.1.0"
gspread = "*"
idna = "==3.2"
multidict = "==5.1.0"
mypy-extensions = "==0.4.3"
oauthlib = "==3.1.1"
postgres = "==3.0.0"
psycopg2-binary = "==2.9.1"
psycopg2-pool = "==1.1"
pyasn1 = "==0.4.8"
pyasn1-modules = "==0.2.8"
python-dotenv = "==0.18.0"
pytz = "*"
regex = "==2021.7.6"
requests = "==2.26.0"
requests-oauthlib = "==1.3.0"
rsa = "==4.7.2"
six = "==1.16.0"
SQLAlchemy = "==1.4.20"
toml = "==0.10.2"
typing-extensions = "==3.10.0.0"
tzlocal = "==2.1"
urllib3 = "==1.26.6"
yarl = "==1.6.3"
sqlalchemy = "*"
discord = "*"
apscheduler = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
vt-py = "*"
async-lru = "*"
asyncpg = "*"
grpcio = "*"
discord-py-slash-command = "*"
discord-components = "*"
url-normalize = "*"
protobuf = "*"
dmux = {git = "ssh://git@github.com/gs729/dmux.git"}
arrow = "*"
timefhuman = "*"
quart = "*"
hypercorn = "*"
jinja2 = "*"

[dev-packages]
pyflakes = "*"
bandit = "*"
black = "*"
rope = "*"
grpcio-tools = "*"
"discord.py-stubs" = "*"
debugpy = "*"
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
