<!DOCTYPE html>

<head>
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans" rel="stylesheet">
</head>

<body>
<div style="font-family: 'Open Sans', sans-serif;">
    <div style="font-weight: 600">
        Failure D : <br>
    </div>
    <div style="font-weight: normal">
        Something is wrong, ping GS and let him know what happened
    </div>
</div>
</body>