<!DOCTYPE html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $('document').ready(
            $.ajax({
                type: "POST",
                url: "{{ base_url }}/", 
                data: JSON.stringify({   
                    "link_id": "{{ link_id }}", 
                    "tz": Intl.DateTimeFormat().resolvedOptions().timeZone,
                }),
                success: null,
                contentType: 'application/json'
            })
            .done(function (){
                window.location.replace("{{ base_url }}/success")
            })
            .fail(function (){
                window.location.replace("{{ base_url }}/failure")
            })
        )
    </script>
    <!--Styles-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ base_url }}/{{ stylesheet }}">
</head>

<body>
<div class="status-message-main">
    Working : O
</div>
</body>