<!DOCTYPE html>

<head>
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght" rel="stylesheet">
    <link rel="stylesheet" href="{{ base_url }}/{{ stylesheet }}">
</head>

<body>
<div style="font-family: 'Open Sans', sans-serif;">
    <div class="status-message-main">
        Success : D <br>
    </div>
    <div class="status-message-subscript">
        (You can close this tab now ; )
    </div>
</div>
</body>