<!DOCTYPE html>

<head>
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght" rel="stylesheet">
</head>

<body>
<div style="font-family: 'Open Sans', sans-serif;">
    <div style="font-weight: 600">
        Success : D <br>
    </div>
    <div style="font-weight: normal">
        (You can close this tab now ; )
    </div>
</div>
</body>